<!doctype html>
<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <Title>Networker: Create Job Posting</Title>
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">© Networker</div>
            <ul class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact_us') }}">Contuct Us</a></li>
                    <li><a href="{{ url_for('terms_of_use') }}">Terms of Use</a></li>
                </div>
            </ul>
        </nav>
        <div class="container">
            <h1>Create Job Posting</h1>
            <form action='/create_job_posting' method='POST'>
                <label for="title">Title</label>
                <input class="inputs" type="text" name="title" required>
                <br />
                <label for="employer">Employer</label>
                <input class="inputs" type="text" name="employer" required>
                <br />
                <label for="location">Location</label>
                <input class="inputs" type="text" name="location" required>
                <br />
                <label for="salary">Salary</label>
                <input class="inputs" type="text" name="salary" required>
                <br />
                <label for="description">Description</label><br />
                <textarea id="description" name="description" rows="3" cols="70" required></textarea>
                <br />
                <button class="submit" type="submit">Create</button>
            </form>
        </div>
    </body>
</html>