<!doctype html>
<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <Title>Networker: Dashboard</Title>
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">© Networker</div>
            <ul class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('update_profile') }}">Update Your Profile</a></li>
                    <li><a href="{{ url_for('about') }}">My Network</a></li>
                    <li><a href="{{ url_for('terms_of_use') }}">Apply For Job</a></li>
                    <li><a href="{{ url_for('index') }}">Log Out</a></li>
                </div>
            </ul>
        </nav>
        <div class="row">
            <!-- profile card -->
            <div class="column left-account-card">
                <img src="{{url_for('static', filename='images/profile-image.png')}}" widht="70" height="70"/>
                <br>
                <p><strong>Name:</strong> {{ loggedUser.LastName }}, {{ loggedUser.FirstName }}</p>
                <p><strong>Email Address:</strong> {{ loggedUser.Email }}</p>
                <p><strong>Date Registered:</strong> {{ loggedUser.DateRegistered }}</p>
                <p><strong>Date Last Logged In:</strong> {{ loggedUser.DateLastLogin }}</p>
                <p><strong>Title:</strong> {{ loggedUser.Profile.Title }}</p>
                <p><strong>About:</strong> {{ loggedUser.Profile.About }}</p>
                <p><strong>Gender:</strong> {{ loggedUser.Profile.Gender }}</p>
                <p><strong>Ethnicity:</strong> {{ loggedUser.Profile.Ethnicity }}</p>
                <p><strong>Disability Status:</strong> {{ loggedUser.Profile.DisabilityStatus }}</p>
                <p><strong>Location:</strong> {{ loggedUser.Profile.Location }}</p>
                <p><strong>Phone Number:</strong> {{ loggedUser.Profile.PhoneNumber }}</p>
            </div>
            <!-- posts card -->
            <div class="column right-posts-card">
                <h2 class="title-card">New Posts</h2>
                <div class="card-content-upper">
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                    <p>new post</p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <!-- messages card -->
            <div class="column left-messages-card">
                <h2 class="title-card">New Messages</h2>
                <div class="card-content-lower">
                    <p>new message</p>
                    <p>new message</p>
                    <p>new message</p>
                    <p>new message</p>
                    <p>new message</p>
                    <p>new message</p>
                    <p>new message</p>
                    <p>new message</p>
                    <p>new message</p>
                    <p>new message</p>
                    <p>new message</p>
                </div>
            </div>
            <!-- job postings card -->
            <div class="column right-jobs-card">
                <h2 class="title-card">New Job Postings</h2>
                <div class="card-content-lower">
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                    <p>new job posting</p>
                </div>
            </div>
        </div>
        <table class="stats-table">
            <tr>
                <th>Number of Connections</th>
                <th>Number of Saved Jobs</th>
                <th>Number of Applied Jobs</th>
                <th>Number of Created Posts</th>
            </tr>
            <tr>
                <td>105</td>
                <td>20</td>
                <td>56</td>
                <td>122</td>
            </tr>
        </table>
    </body>
</html>