<!doctype html>
<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <Title>Networker: Dashboard</Title>
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">© Networker</div>
            <ul class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact_us') }}">Contuct Us</a></li>
                    <li><a href="{{ url_for('terms_of_use') }}">Terms of Use</a></li>
                    <li><a href="{{ url_for('index') }}">Log Out</a></li>
                </div>
            </ul>
        </nav>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="success-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Welcome to your account, {{ loggedUser.Username }} !</h1>

        <div class="row">
            <!-- profile card -->
            <div class="column card-left">
                <img src="{{url_for('static', filename='images/profile-image.png')}}" widht="70" height="70"/>
                <p>Name: {{ loggedUser.LastName }}, {{ loggedUser.FirstName }}</p>
                <p>Email Address: {{ loggedUser.Email }}</p>
                <p>Date Registered: {{ loggedUser.DateRegistered }}</p>
                <p>Date Last Logged In: {{ loggedUser.DateLastLogin }}</p>
            </div>
            <div class="column right-dashboard">
                <h3>Some other data</h3>
            </div>
        </div>
    </body>
</html>