<!doctype html>
<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <Title>Networker: My Inbox</Title>
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">© Networker</div>
            <ul class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('my_network') }}">My Network</a></li>
                    <li><a href="{{ url_for('index') }}">Log Out</a></li>
                </div>
            </ul>
        </nav>
        {% if error %}
            <div class="error-box">
                <p><strong>Error</strong>: {{error}}</p>
            </div>
        {% endif %}
        <div class="container">
            <h1 class="title">My Inbox</h1>
            <div class="row">
                <div class="col-lg-3 left-card">
                    {% for message in messages %}
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <form action='/my_inbox' method='POST'>
                                        <div class="account-info">
                                            <p><strong>From:</strong> {{ message.Sender }}</p>
                                            <p><strong>Date:</strong> {{ message.DateCreated.strftime("%d/%m/%y %H:%M") }}</p>
                                            <p><strong>Message:</strong> {{ message.Content }}</p>
                                        </div>
                                        <button class="submit-inbox" type="submit" value="{{ message.SenderId }}" name="viewBtn">View</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br />
                    {% endfor %}
                </div>
                <div class="col-lg-8 right-card">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="title-card">Conversation</h2>
                            <div class="card-content-upper">
                                {% for content in contents %}
                                    {% if content.received %}
                                        <div class="card left-chat-card">
                                            <div class="card-body">
                                                <p>Received on: {{ content.date.strftime("%d/%m/%y %H:%M") }}</p>
                                                <p>{{ content.content }}</p>
                                            </div>
                                        </div><br />
                                    {% else %}
                                        <div class="card right-chat-card">
                                            <div class="card-body">
                                                <p>Sent on: {{ content.date.strftime("%d/%m/%y %H:%M") }}</p>
                                                <p>{{ content.content }}</p>
                                            </div>
                                        </div><br />
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <form action='my_inbox' method="POST">
                                        <textarea id="response" class="textarea-custom" name="response" rows="4" cols="65" required></textarea><br />
                                        <button class="submit-inbox" type="submit" value="{{ respondentId }}" name="replyBtn">Reply</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>