<!doctype html>
<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <Title>Networker: Update Profile</Title>
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">© Networker</div>
            <ul class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact_us') }}">Contuct Us</a></li>
                    <li><a href="{{ url_for('terms_of_use') }}">Terms of Use</a></li>
                    <li><a href="{{ url_for('index') }}">Log Out</a></li>
                </div>
            </ul>
        </nav>
        <div class="container-custom">
            <h1 class="title">Profile Update</h1>
            <form action='/update_profile' method='POST'>
                <label for="first-name">First Name:</label><br />
                <input class="inputs" type="text" name="first-name" placeholder="May leave blank">
                <br />
                <label for="last-name">Last Name:</label><br />
                <input class="inputs" type="text" name="last-name" placeholder="May leave blank">
                <br />
                <label for="email">Email Address:</label><br />
                <input class="inputs" type="email" name="email" placeholder="May leave blank">
                <br />
                <label for="title">Title:</label><br />
                <input class="inputs" type="text" name="title" placeholder="May leave blank">
                <br />
                <label for="gender">Gender:</label><br />
                <input class="inputs" type="text" name="gender" placeholder="May leave blank">
                <br />
                <label for="ethnicity">Ethnicity:</label><br />
                <input class="inputs" type="text" name="ethnicity" placeholder="May leave blank">
                <br />
                <label for="disability-status">Disability Status:</label><br />
                <input class="inputs" type="text" name="disability-status" placeholder="May leave blank">
                <br />
                <label for="location">Location:</label><br />
                <input class="inputs" type="text" name="location" placeholder="May leave blank">
                <br />
                <label for="phone-number">Phone Number:</label><br />
                <input class="inputs" type="text" name="phone-number" placeholder="May leave blank">
                <br />
                <label for="about">About:</label><br />
                <textarea id="about" class="textarea-custom" name="about" rows="5" cols="57" placeholder="May leave blank"></textarea>
                <br />
                <button class="submit" type="submit">Update</button>
            </form>
        </div>
    </body>
</html>